@font-face {
  font-family: "Pretendard-Black";
  src: url("./fonts/Pretendard-Black.ttf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("./fonts/Pretendard-Medium.ttf");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("./fonts/Pretendard-SemiBold.ttf");
}

a {
  color: #424242;
  text-decoration: none;
}
body {
  background: #efefef;
}
.main_contents {
  color: #424242;
  font-family: "Pretendard-Black";
  padding-top: 54px;
}
.container {
  width: 80%;
  margin: auto;
}
.container .menu {
  display: flex;
  justify-content: right;
}

/* menu */
.menu {
  margin-bottom: 54px;
}
nav {
  width: 414px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 27px;
}
nav ul li a {
  transition: 0.3s ease-in-out;
}
nav ul li:hover a {
  transition: 0.3s ease-in-out;
  color: #ee9c50;
}
/* common */
.title {
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 54px;
}
.section {
  margin-bottom: 135px;
}
section {
  margin-bottom: 135px;
}
span[role="img"] {
  margin-left: 10px;
}
/* about */
.section img {
  clip-path: circle(50% at 50% 50%);
}
/* skills */
/* works */
/* contact */
