@font-face {
  font-family: "Pretendard-Black";
  src: url("./fonts/Pretendard-Black.ttf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("./fonts/Pretendard-Medium.ttf");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("./fonts/Pretendard-SemiBold.ttf");
}

a {
  color: #424242 !important;
  text-decoration: none !important;
}
body {
  background: #efefef;
}
.main_contents {
  color: #424242 0.2;
  font-family: "Pretendard-Black";
}
.cont {
  width: 70%;
  margin: auto;
}
.cont .menu {
  display: flex;
  justify-content: right;
}

/* menu */
nav {
  justify-content: end;
  align-items: center;
  /* background: rgba(239, 239, 239, 0.5); */
}
nav ul {
  display: flex;
  gap: 50px;
  font-size: 20px;
  line-height: 27px;
}
nav ul li {
  cursor: pointer;
}
nav ul li a {
  transition: 0.3s ease-in-out;
}
nav ul li:hover a {
  transition: 0.3s ease-in-out;
  color: #ee9c50;
}
/* common */
.title {
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 54px;
}
.section {
  margin-bottom: 135px;
}
section {
  margin-bottom: 135px;
}
span[role="img"] {
  margin-left: 10px;
}
.menu nav li {
  cursor: pointer;
}
/* about */
#about img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
}
/* skills */
#skills .skillpart {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#skills .skillpart .skill-list {
  display: flex;
  gap: 20px;
}
#skills .skillpart h3 {
  font-size: 55px;
}
#skills .skillpart ul {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px;
}
#skills .skillpart ul li {
  display: inline-block;
  color: #fff;
  font-size: 35px;
  padding: 10px 20px;
  border-radius: 25px;
}
.skill-hover {
  font-size: 15px;
}

/* works */

/* #works div {
  gap: 300px;
} */
#works .workslist {
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
#works .worksbg {
  position: relative;
}
#works div img {
  width: 100%;
}
#works .workstt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* contact */
#contact > div {
  gap: 15%;
}
#contact .contacticon {
  font-size: 100px;
  --fa-beat-fade-opacity: 0.8;
  --fa-beat-fade-scale: 1.075;
}
#contact .contacticon.mygit {
  color: #853de2;
}
#contact .contacticon.myinsta {
  width: 100px;
  border-radius: 30px;
  background: linear-gradient(
    134.99deg,
    #a50565 2.6%,
    #e6483c 51.27%,
    #dbff00 100.01%
  );
  color: #efefef;
}

/* top button */
.topbtn {
  font-size: 50px;
  color: #424242;
  margin-bottom: 54px;
  cursor: pointer;
}
